<h2>selecione a forma</h2>

<div>
  <button mat-icon-button class="button" title="Círculo" (click)="save('Círculo')">
    <mat-icon><img src="assets/formas/img_5.png"></mat-icon>
  </button>
  <button mat-icon-button class="button" title="Elipse" (click)="save('Elipse')">
    <mat-icon><img src="assets/formas/img_4.png"></mat-icon>
  </button>
  <button mat-icon-button class="button" title="Retângulo" (click)="save('Retângulo')">
    <mat-icon><img src="assets/formas/img_1.png"></mat-icon>
  </button>
  <button mat-icon-button class="button" title="Triângulo" (click)="save('Triângulo')">
    <mat-icon><img src="assets/formas/img.png"></mat-icon>
  </button>
</div>
