<div class="grid-container">
  <mat-card class="profile-card">
    <div class="profile-header">
      <img class="profile-avatar" src="fake_logo.jpg" alt="Foto de Perfil">
      <h1 class="profile-name">Empresa XYZ</h1>
      <p class="profile-title">Diretor Executivo</p>
    </div>
  </mat-card>

  <mat-card class="profile-card">
    <h2 class="section-title">Informações Pessoais</h2>
    <div class="profile-details">
      <p class="detail-item"><strong>Email:</strong> info@empresa.com</p>
      <p class="detail-item"><strong>Telefone:</strong> (123) 456-7890</p>
      <p class="detail-item"><strong>Endereço:</strong> Rua Fictícia, 123, Cidade, País</p>
    </div>
  </mat-card>

  <mat-card class="profile-card">
    <h2 class="section-title">Sobre</h2>
    <p class="profile-description">Uma empresa de tecnologia especializada em soluções inovadoras.</p>
  </mat-card>

  <mat-card class="profile-card">
    <h2 class="section-title">Configurações</h2>
    <div class="profile-settings">
      <div>
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" placeholder="Nome">
      </div>
      <div>
        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao" placeholder="Descrição"></textarea>
      </div>
      <div>
        <label for="logo">Logo</label>
        <input type="file" accept="image/*" name="logo" id="logo" >
        <img class="logo-preview" src="fake_logo_preview.jpg">
      </div>
      <div>
        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" id="telefone" placeholder="Telefone">
      </div>
      <div>
        <label for="endereco">Endereço</label>
        <input type="text" name="endereco" id="endereco" placeholder="Endereço">
      </div>
      <div>
        <label for="site">Site</label>
        <input type="text" name="site" id="site" placeholder="Site">
      </div>
      <div>
        <label for="corMarca">Cor da Marca</label>
        <input type="color" name="corMarca" id="corMarca">
      </div>

      <button mat-button class="settings-button">Editar</button>
    </div>
  </mat-card>
</div>
